* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Texturina', serif;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px;
    perspective: 1000px;
}
.container{
    background: #8b5bcb;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 20rem;
    border-radius: 30px;
    padding: 0rem 3rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, .2);
}
.shoe{
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shoe img {
    width: 10rem;
    z-index: 2;
    transition: all 0.7s ease-out;
}
.circle{
    width: 8rem;
    height: 8rem;
    background: linear-gradient(
        to right,
        rgba(245, 70, 66, 0.75),
        rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info h1{
    font-size: 3rem;
    transition: all 0.7s ease-out;
}
.info h3{
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #000000;
    font-weight: lighter;
    transition: all 0.7s ease-out;
}
.sizes{
    display: flex;
    justify-content: space-between;
    transition: all 0.7s ease-out;
}
.sizes button{
    padding: .5rem 1.2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    color: #585858;
    font-weight: bold;
}
button.active{
    background: #585858;
    color: white;
}
.purchase{
    margin: 1rem;
    transition: all 0.7s ease-out;
}
.purchase button{
    width: 100%;
    padding: 1rem 0rem;
    background: #400505;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    font-weight: bolder;
    transition: all 0.7s ease-out;
}